html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}


.hidden {
  display: none !important;
}

#home-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}


#home-page p {
  margin-bottom: 0;
}

#home-page input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#home-page input:hover {
  outline: none;
}


#death-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#death-menu p {
  margin-bottom: 0;
}

#death-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#death-menu input:hover {
  outline: none;
}


#Leaderboard {
  position: fixed;
  top: 10%;
  left: 90%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: left;
  opacity: 0.5;
  color: black;
}

#effects_table {
  position: fixed;
  top: 0%;
  left: 10%;
  background: rgba(192, 192, 192, 0.4);
  padding: 20px;
  border-style:solid;
  opacity: 0.9;
  border-radius:25px;
  
} 
#effects_list {
  list-style-type: none;
}

ul.death-menu-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.death-menu-nav {
  float: left;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

#death-stat-lead{
  display: block;
  overflow-y: scroll;
  max-height: 400px;
}